<h1>Listing museums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>County</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Description</th>
  </tr>

<% @museums.each do |museum| %>
  <tr>
    <td><%=h museum.name %></td>
    <td><%=h museum.address %></td>
    <td><%=h museum.city %></td>
    <td><%=h museum.county %></td>
    <td><%=h museum.state %></td>
    <td><%=h museum.zip %></td>
    <td><%=h museum.phone %></td>
    <td><%=h museum.description %></td>
    <td><%= link_to 'Show', museum %></td>
    <td><%= link_to 'Edit', edit_museum_path(museum) %></td>
    <td><%= link_to 'Destroy', museum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New museum', new_museum_path %>