	<div class="post" id="post-1391">

	<h1><a href="#" rel="bookmark" title="<%=h @gallery.name %>"><%=h @gallery.name %></a></h1>

	<div class="descr"><%= @gallery.created_at.to_s(:long) %></div>

	<div class="entry">

	<p>I have to see this to believe it. Do you use an iPhone and have &#8220;Brushes&#8221;? Maybe that&#8217;s your next tool.</p>

<p><a href="http://feeds.arstechnica.com/~r/arstechnica/apple/~3/We0IeUDIpy8/iphone-armed-artist-responsible-for-the-new-yorker-cover.ars">iPhone-armed artist responsible for The New Yorker cover</a>:<br />
<blockquote><a href="http://arstechnica.com/apple/news/2009/05/iphone-armed-artist-responsible-for-the-new-yorker-cover.ars"><img vspace="4" hspace="4" border="0" align="right" src="http://static.arstechnica.com/assets/2009/05/thumb_newyorker_iphone-thumb-230x130-5724-f.jpg" alt="companion photo for iPhone-armed artist responsible for The New Yorker cover" /></a></p>
<p>&#8220;If you thought an iPhone couldn&#8217;t be used to create high-profile art, then you haven&#8217;t yet heard about the latest cover of <em>The New Yorker</em>. The cover was <a href="http://www.newyorker.com/online/blogs/tny/2009/05/jorge-colombo-iphone-cover.html">e-painted by Jorge Colombo</a> using the iPhone app <a href="http://brushesapp.com/">Brushes</a>. Colombo has only been using an iPhone since February of this year. </p>
<p>The iPhone &#8216;made it easy for me to sketch without having to carry all my pens and brushes and notepads with me, and I like the fact that I am drawing with a set of tools that anybody can have easily in their pocket,&#8217; Colombo told the <em><a href="http://www.nytimes.com/2009/05/25/business/media/25yorker.html?_r=2">New York Times</a></em>. <em>New Yorker</em> art editor Françoise Mouly told the <em>Times</em> that the best part about it is that it doesn&#8217;t feel like a doodley sketch drawn on a phone—&#8217;All too often the technology is directed in only one direction, which is to make things more tight, and this, what he did very well, is use this technology for something that is free flowing, and I think that’s what makes it so poetic and magical.&#8217;&#8221;</p>

<p> <a href="http://arstechnica.com/apple/news/2009/05/iphone-armed-artist-responsible-for-the-new-yorker-cover.ars">Click here to read the rest of this article</a></p>
<p><a href="http://feedads.g.doubleclick.net/~at/FVEhrRBfjtgNSS5W3CKTnA_WGGQ/0/da"><img src="http://feedads.g.doubleclick.net/~at/FVEhrRBfjtgNSS5W3CKTnA_WGGQ/0/di" border="0" ismap="true"/></a><br />
<a href="http://feedads.g.doubleclick.net/~at/FVEhrRBfjtgNSS5W3CKTnA_WGGQ/1/da"><img src="http://feedads.g.doubleclick.net/~at/FVEhrRBfjtgNSS5W3CKTnA_WGGQ/1/di" border="0" ismap="true"/></a></p>
<div class="feedflare">
<a href="http://feeds.arstechnica.com/~ff/arstechnica/apple?a=We0IeUDIpy8:zXxUpWrAIe8:V_sGLiPBpWU"><img src="http://feeds2.feedburner.com/~ff/arstechnica/apple?i=We0IeUDIpy8:zXxUpWrAIe8:V_sGLiPBpWU" border="0"/></a> <a href="http://feeds.arstechnica.com/~ff/arstechnica/apple?a=We0IeUDIpy8:zXxUpWrAIe8:F7zBnMyn0Lo"><img src="http://feeds2.feedburner.com/~ff/arstechnica/apple?i=We0IeUDIpy8:zXxUpWrAIe8:F7zBnMyn0Lo" border="0"/></a> <a href="http://feeds.arstechnica.com/~ff/arstechnica/apple?a=We0IeUDIpy8:zXxUpWrAIe8:qj6IDK7rITs"><img src="http://feeds2.feedburner.com/~ff/arstechnica/apple?d=qj6IDK7rITs" border="0"/></a> <a href="http://feeds.arstechnica.com/~ff/arstechnica/apple?a=We0IeUDIpy8:zXxUpWrAIe8:yIl2AUoC8zA"><img src="http://feeds2.feedburner.com/~ff/arstechnica/apple?d=yIl2AUoC8zA" border="0"/></a>
</div>
<p><img src="http://feeds2.feedburner.com/~r/arstechnica/apple/~4/We0IeUDIpy8" height="1" width="1"/></p></blockquote>
<p>(Via <a href="http://arstechnica.com/apple/">Infinite Loop</a>.)</p>
<div class="addtoany_share_save_container"><ul class="addtoany_list"><li><a class="a2a_dd addtoany_share_save" href="http://www.addtoany.com/share_save?&amp;linkurl=http%3A%2F%2Fwww.miamiartexchange.com%2Fmaex_artblog%2F2009%2F05%2F27%2Fiphone-armed-artist-responsible-for-the-new-yorker-cover%2F&amp;linkname=iPhone-armed%20artist%20responsible%20for%20The%20New%20Yorker%20cover"><img src="http://www.miamiartexchange.com/maex_artblog/wp-content/plugins/add-to-any/share_save_120_16.png" width="120" height="16" alt="Share/Save/Bookmark"/></a></li></ul></div>

	</div>

	<div class="postinfo">Filed under <a href="http://www.miamiartexchange.com/maex_artblog/category/webtech/" title="View all posts in Web/Tech" rel="category tag">Web/Tech</a> having <a href="http://www.miamiartexchange.com/maex_artblog/2009/05/27/iphone-armed-artist-responsible-for-the-new-yorker-cover/#respond" title="Comment on iPhone-armed artist responsible for The New Yorker cover">No Comments &raquo;</a></div>

	</div>
	
	
	<p align="center"><a href="http://www.miamiartexchange.com/maex_artblog/page/2/">&laquo; Previous Entries</a> </p>

<p>
  <b>Name:</b>
  <%=h @gallery.name %>
</p>

<p>
  <b>Owner:</b>
  <%=h @gallery.owner %>
</p>

<p>
  <b>Phone:</b>
  <%=h @gallery.phone %>
</p>

<p>
  <b>Address:</b>
  <%=h @gallery.address %>
</p>

<p>
  <b>City:</b>
  <%=h @gallery.city %>
</p>

<p>
  <b>State:</b>
  <%=h @gallery.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @gallery.zip %>
</p>

<p>
  <b>Description:</b>
  <%=h @gallery.description %>
</p>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>