	<div class="post" id="post-1391">

	<h1><a href="#" rel="bookmark" title="<%=h @gallery.name %>"><%=h @gallery.name %></a></h1>

	<div class="descr"><%= @gallery.created_at.to_s(:long) %></div>

	<div class="entry">

	<p><%=h @gallery.description %></p>
	<p><%=h @gallery.owner %><br />
	<%=h @gallery.address %><br />
	<%=h @gallery.city %><br />
	<%=h @gallery.state %><br />
	<%=h @gallery.zip %><br />
	<%=h @gallery.phone %></p>


	</div>
	
	
	<p align="center"><%= link_to 'Back', galleries_path %></p>
